---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="என்னைப் பற்றி"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('October 25 2025')}
	heroImage="/blob-placeholder-about.jpg"
>
	<p>
		அன்புடையான்
	</p>
</Layout>
